/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../../fonts/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Libre Bodoni';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/_Xm--H45qDWDYULr5OfyZudXzSBgY2oMBGte6I1f8WvTcQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/v25/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Honey Script';
	src: url('../../fonts/honey-script.light.ttf');
}
p, a ul, li, input, .gift p, label{
	color:#2e134b;	
	font-family: Source sans pro;
	font-weight: 300;
}
h1,h2,h3,h4,h5,h6, h2 *, #countdown, #primary-menu a, p#cd-date{
	font-family: 'Libre Bodoni', serif;
	text-transform: uppercase;
	color: #2e134b;
	font-weight: 400;
}
h1 + h2{
	text-transform: none;
	font-family: 'Honey Script','Dancing Script', cursive;
	font-size: 60px; 
	line-height: 1;
}
p.sub-heading {
	font-family: 'Honey Script','Dancing Script', cursive;
	text-transform: none;
	font-size: 40px;
	line-height: 1;
}
.sub-heading:last-of-type {
	padding-bottom: 50px;
}
header#masthead {
	text-align: center;
	position: relative;
	box-shadow: 0 0 12px -5px rgba(0,0,0,0.4);
	z-index: 99;
	background: #fff;
	color: #000;
}
header#masthead h2{
	/*color: #000;*/
}
footer {    
	box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.18);
	z-index: 9;
	position: relative;
}

.site-branding h2 {
	font-size: 36px;
	margin-top: 14px;
	margin-bottom: 0 !important;
}
div#primary-menu ul {
	margin-top: 0;
}
nav#site-navigation.sticky ul{
	margin-bottom: 0;
}
nav#site-navigation.sticky {
	background: #fff;
}
h2.name-1, h2.name-2 {	
	font-size: 54px;
	line-height: 1.1;
	color: #2e134b;
}
h2.name-1 {
	padding-bottom: 20px;
}

span.last-name {
	display: block;
	text-transform: none;
	font-size: 46px;
	font-family: 'Honey Script','Dancing Script', cursive;
	line-height: 25px;
}



div#toggle-menu {    
	background: #2e144b;
}
@media (max-width: 980px){
	div#primary-menu ul li a {
		color: #2e144b;
	}
	nav#site-navigation{
		bottom:0;
	}
	nav#site-navigation:after {
		background: #fff;
		transform: none !important;
		background-position:  center;
		left: 0;
		bottom:-100px;
		right: -50%;
		width: initial;
	}
}
section.wedding-couple {
	padding: 30px 0;
}
section.wedding-couple .container {
	width: 100%;
	background-image: url(img/circle.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding: 14% 10%;
	margin: 0 auto;
	display: block;
	max-width: 700px;
}
.title-section .container:after{
	content: '';
	display: block;
	position: relative;    
	right: 0;
	left: 0;
	height: 120px;
	background-image: url(img/divider.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/*.icon-wrap {
	background-image: url(img/dot.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding: 22px;
	margin: 0 auto 10px !important;
}
.story:nth-of-type(4n-3) .icon-wrap, .practical:nth-of-type(4n-3) .icon-wrap{
	background-image: url(img/dot2.jpg);	
}
.story:nth-of-type(3n) .icon-wrap, .practical:nth-of-type(3n) .icon-wrap{
	background-image: url(img/dot3.jpg);	
}
.icon-wrap img.icon{
	filter:invert(1);
	}*/
	@media (max-width: 1100px){
		section.wedding-couple .container {	
			padding: 20% 10%
		}
		h2.name-1, h2.name-2 {
			font-size: 44px;
		}
	}
	@media (max-width: 800px){
		section.wedding-couple .container {	
			padding: 25% 10%
		}
		h2.name-1, h2.name-2 {
			font-size: 36px;
		}

	}
	@media (max-width: 700px){
		section.wedding-couple .container {	
			padding: 30% 10%
		}
		h2.name-1, h2.name-2 {
			font-size: 30px;
		}
	}
	@media (max-width: 500px){	
		h2.name-1, h2.name-2 {
			font-size: 24px;
		}

	}
/*span.and {
	position: relative;
	width: 40px;
	height: 80px;
	background-image: url(img/and.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 -20px;
	display: inline-block;
	vertical-align: middle;
	}*/

	.story {    
		margin: 0 auto;
		padding:100px 0;
	}
	.story:first-of-type{
		padding-top: 40px;
	}
	.story:last-of-type{
		padding-bottom: 40px;
	}
	.story:after {
		content: '';
		position: absolute;
		background-image: url(img/dots.jpg);
		width:100px;
		height: 24px;
		left: calc(50% - 50px);
		bottom: -12px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.story:last-of-type:after{
		display: none;
	}


	.content-left,  .content-right{
		display: block;
		width: 100%;
		max-width: 1000px;
		vertical-align: top;
		text-align: center;
		margin: 0 auto;
	}


	.content-left *, .content-right *{
		max-width: 800px;
		margin: 0 auto;
		display: block;
	}
	.content-right {
		width: 90%;
		max-width: 800px;
		background: #ffffff;
		padding: 40px;   
		box-shadow: 0 0 15px -5px rgba(0,0,0,0.3);

	}
	@media (min-width: 800px){
		.content-left img, .content-right img{			
			margin-bottom:-70px;
		}
	}
	.content-left img, .content-right img{	
		width: 100%;
		max-width: 1000px;		
	}
	.story img.icon {
		max-width: 50px;
		margin: 0 auto 10px;
		padding: 0;
	}
	h3.heading {
		font-size: 50px;
		line-height: 1em;
	}
	@media (max-width: 550px){
		h3.heading {
			font-size: 36px;
		}	
	}

	.content-content{
		font-size: 18px;
		line-height: 1.8em;
	}
	img.icon{
		border:none !important;
	}
	.person-img {
		width: 100%;
		padding-top: 100%;    
		margin: 0 auto 10px;
	}
	.person-content {
		position: absolute;
		left: 20px;
		right: 20px;
		background: #ffffffd4;
		bottom: 30px;
		padding: 10px;
		top: calc(100% - 78px);
		overflow: hidden;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		transition: all 0.2s ease;

	}
	.person:hover .person-content {
		top: 20px;
	}
	section.practicals {
		padding: 100px 0;
	}
	section.footer{
		position: relative;
		min-height: initial;
	}
	section.footer:before {
		content: '';
		position: absolute;
		left: 0;
		background-image: url(img/lines.jpg);
		right: 0;
		height: 300px;
		background-size: 100%;
		background-position: bottom center;
		z-index: 9;
		background-repeat: no-repeat;

	}

	section * {
		z-index: 10;
		position: relative;
	}
	div#gallery-grid {
		z-index: 12;
	}
	section.footer.no-img:before, section.footer.no-img:after{
		bottom:0;
		top:initial;
	}
	@media (min-width: 1000px){
		section {
			min-height: 260px;
		}
	}
	section.stories{
		min-height: 0;
	}
	section.text-section {
		padding: 70px 0;
		text-align: center;
	}
	section.text-section * {
		max-width: 600px;
	}
	@media (max-width: 799px){
		.content-left, .content-right{
			width: 100%;
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}
	div#countdown{
		padding:20px 20px 0;
		position: unset;
	} 


	#cd-date {
		padding-bottom: 20px;	
	}
	div.countdown-wrapper{
		background-image: url(img/stripes.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		width: 540px;
		margin: 0 auto;
		position: relative;
		max-width: 100%;
		padding: 40px 0;
	}


	section#ceremoniemeesters .container {
		padding: 30px;
		background: rgba(255, 255, 255, 1);
		box-shadow: 0 0 15px -4px rgba(0,0,0,0.3);
		border-radius: 0;
	}

/*	section#ceremoniemeesters .container:before, .content-right:before, div#countdown:before {
		content:'';
		position:absolute;
		left:10px;
		right:10px;
		top: 10px;
		bottom: 10px;
		border:3px solid #f0f0e9;
		}*/

		.gift-actions, .gift-actions a, .reserved-notice, .modal-header, .modal-actions input[type="submit"], .poi-actions a {
			background:#2e144b;
		}
		.gift-actions a:hover {
			background: #cec1dc;
		}
		.rsvp form, div#rsvp-yes, div#rsvp-no {
			background: #f5f7f7;
		}
		div#rsvp-yes, div#rsvp-no {
			background: #f7f7f5;
			color: #2e144b;
		}

		div#rsvp-no.selected, div#rsvp-yes.selected, span.input-minus, span.input-plus, input[type="submit"], input[type="radio"]:checked + span.custom-checkbox, input[type="checkbox"]:checked + span.custom-checkbox {
			background-color: #2e144b;
			color: #fff;
		}
		.modal-header p{
			color:#fff;
		}
		a#submit-message{
			background: #f7f7f5;
			color: #2e144b;
			font-size: 14px;
		}
		#guestbook-form textarea, #guestbook-form input[type="text"] {
			background: #f7f7f5;
			border: 1px solid #eee;
		}
		a.btn {
			background: #ebdeef;
		}
		p.event-address {
			margin-bottom: 0 !important;
		}

h5.location-title {
    font-size: 23px;
}